/* Footer styles */
.footer-wrapper {
    background-color: #141414;
}

.footer-wrapper > .footer-links-wrapper {
    display: flex;
    align-items: center;
}

.footer-links-wrapper > .footer-link {
    width: 25%;
    height: 70px;
    background-color: #36383F;
    border: 2px solid #797979;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.footer-links-wrapper > .footer-link:hover {
    background-color: #494b52;
}

.footer-links-wrapper > .footer-link a {
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

.footer-links-wrapper > .footer-link span {
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
}