/* Header styles */
.header-wrapper {
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.header-wrapper > .header-left-wrapper {
    display: flex;
}

/* Logo header stayles*/
.header-wrapper > .header-left-wrapper > .logo-wrapper {
    padding: 30px;
}

.header-wrapper > .header-left-wrapper > .logo-wrapper > img {
    height: 40px;
}

/* Nav header stayles */
.header-wrapper > .header-left-wrapper > .nav-wrapper {
    display: grid;
    align-content: center;
    align-items: baseline;
    grid-template-columns: repeat(5, auto);
}

.header-wrapper > .header-left-wrapper > .nav-wrapper > .nav-head {
    grid-column: 1 / 6;
    text-transform: uppercase;
    color: #f2d073;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0 10px;
}

.header-wrapper > .header-left-wrapper > .nav-wrapper > .nav-link a {
    color: white;
    font-weight: 900;
    font-size: 1.3rem;
    padding: 0 10px;
    border-bottom: 3px solid transparent;
    transition: 0.4s;
}

.header-wrapper > .header-left-wrapper > .nav-wrapper > .nav-link a:hover {
    border-bottom: 3px double #f2d073;

}

.header-wrapper > .header-left-wrapper > .nav-wrapper > .spark-items {
    opacity: 0.75;
    transition: 0.4s;
}

.header-wrapper > .header-left-wrapper > .nav-wrapper > .spark-items:hover {
    opacity: 1;
}

.header-wrapper > .header-left-wrapper > .nav-wrapper > .spark-items span {
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0 8px 0 30px;
}

.header-wrapper > .header-left-wrapper > .nav-wrapper > .spark-items i {
    color: white;
    font-size: 0.95rem;
}

/* Right part header stayles*/
.header-wrapper > .header-right-items-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    color: white;  
    padding-right: 15px;
}

.header-wrapper > .header-right-items-wrapper > .item {
    background-color: #36383F;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 3px;
    border: 3px solid transparent;
    margin: 8px;
    padding: 20px 30px;
    transition: 0.4s;
}

.header-wrapper > .header-right-items-wrapper > .item:hover {
    border: 3px double #b1b1b1;
}

.header-wrapper > .header-right-items-wrapper > .item:nth-child(1) > i {
    color: #4bce79;
    font-size: 1.2em;
}

.header-wrapper > .header-right-items-wrapper > .item:nth-child(2) {
    font-size: 2.5rem;
    padding: 0 16px;
    background-color: black;
    color: white;
    opacity: 0.75;
    transition: 0.4s;
}

.header-wrapper > .header-right-items-wrapper > .item:nth-child(2):hover {
    opacity: 1;
    border-color: transparent;
}

.header-wrapper > .header-right-items-wrapper > .item a {
    color: white;
}