/* Header styles */
.header-wrapper {
    height: 100px;
    background-color: black;
    display: flex;
}

/* Left part header stayles*/
.header-wrapper > .logo-wrapper {
    padding: 30px;
}

.header-wrapper > .logo-wrapper > img {
    height: 100%;
}

.header-wrapper > .nav-wrapper {
    display: grid;
    align-content: center;
    align-items: baseline;
    grid-template-columns: repeat(5, auto);
}

.header-wrapper > .nav-wrapper > .nav-head {
    grid-column: 1 / 6;
    text-transform: uppercase;
    color: #f2d073;
    font-weight: 600;
    font-size: 1.2em;
    padding: 0 10px;
}

.header-wrapper > .nav-wrapper > .nav-link a {
    color: white;
    font-weight: 900;
    font-size: 1.3em;
    padding: 0 10px;
}

.header-wrapper > .nav-wrapper > .spark-item span {
    color: #b7b5b5;
    font-size: 1.2em;
    font-weight: 600;
    padding: 0 8px 0 30px;
}

.header-wrapper > .nav-wrapper > .spark-item i {
    color: #b7b5b5;
    font-size: 0.95em;
}

/* Right part header stayles*/
.header-wrapper > .header-items-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    color: white;  
    /* только для кнопки креат */
    padding-right: 15px;
}

.header-wrapper > .header-items-wrapper > .item {
    background-color: #36383F;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 3px;
    margin: 8px;
    padding: 20px 30px;
}

.header-wrapper > .header-items-wrapper > .item:nth-child(1) > i {
    color: #10b954;
    font-size: 1.2em;
}

.header-wrapper > .header-items-wrapper > .item:nth-child(2) {
    font-size: 2.5rem;
    padding: 0 16px;
    background-color: black;
    color: #b7b5b5;
}

.header-wrapper > .header-items-wrapper > .item a {
    color: white;
}