/* Laptop 1024 */
@media (max-width: 1356px) {
    .header-wrapper {
        height: 200px;
        flex-direction: column;
    }

    .header-wrapper > .header-left-wrapper {
        justify-content: center;
    }

    .header-wrapper > .header-right-items-wrapper {
        justify-content: center;
    }

    .page-wrapper {
        padding-top: 0;
    }

    .page-wrapper > .right-column {
        padding-top: 60px;
    }
}

/* Tablet 768 */
@media (max-width: 768px) {
    .header-wrapper > .header-left-wrapper > .logo-wrapper {
        padding-left: 0;
    }
    
    .header-wrapper > .header-left-wrapper > .logo-wrapper > img {
        height: 30px;
    }

    .page-wrapper {
        grid-template-columns: 1fr;
    }

    .page-wrapper > .left-column > .btn-wrapper > a {
        font-size: 1.2rem;
    }

    .page-wrapper > .right-column h3 {
        text-align: center;
        font-size: 2rem;
        padding: 0 0 30px;
    }

    .footer-links-wrapper > .footer-link a {
        font-size: 1.1rem;
    }
    .page-wrapper > .right-column > .img-wrapper {
        margin-bottom: 100px;
    }
}

/* Smart 740 */
@media (max-width: 740px) {
    .header-wrapper {
        height: 250px;
    }

    .header-wrapper > .header-left-wrapper {
        flex-direction: column;
        align-items: center;  
    }

    .header-wrapper > .header-left-wrapper > .logo-wrapper {
        padding-right: 0;
    }

    .header-wrapper > .header-left-wrapper > .nav-wrapper {
        margin-left: -10px;
    }

    .header-wrapper > .header-right-items-wrapper {
        padding-right: 0;
    }

    .page-wrapper {
        grid-template-columns: 1fr;
    }

    .page-wrapper > .left-column > p {
        text-align: center;
    }

    .page-wrapper > .left-column > .btn-wrapper {
        justify-content: center;
    }

    .page-wrapper > .right-column {
        padding-top: 0;
    }

    .page-wrapper > .right-column h3 {
        text-align: center;
        font-size: 2rem;
        padding: 25px 0;
    }

    .page-wrapper > .right-column > .img-wrapper {
        margin-bottom: 100px;
    }
}