/* Page styles */
.page-wrapper {
    display: grid;
    grid-template-columns: 57% 43%;
    background: radial-gradient(at 15% 20%, #505050 0%, #3b3b3b 30%, #0a0a0a 100%);
    padding-top: 40px;
}

/* Left column styles */
.page-wrapper > .left-column {
    padding: 0 70px;
    display: flex;
    flex-direction: column;
}

.page-wrapper > .left-column > p {
    color: #dddbdb;
    font-size: 2.5rem;
    font-weight: 100;
    letter-spacing: 1px;
}

.page-wrapper > .left-column > p strong {
    color: white;
    font-weight: 600;
}

.page-wrapper > .left-column > p:nth-child(2) {
    font-size: 2rem;
    letter-spacing: 0.8px;
    margin-top: 0;
}

/* Buttones styles */
.page-wrapper > .left-column > .btn-wrapper {
    display: flex;
}

.page-wrapper > .left-column > .btn-wrapper > a {
    padding: 15px 25px;
    margin: 30px 20px 0 0;
    color: black;
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: #4bce79;
    border-radius: 3px;
    border: 3px solid transparent;
    transition: 0.4s;
}

.page-wrapper > .left-column > .btn-wrapper > a:hover {
    border: 3px double black;
    color: white;
}

.page-wrapper > .left-column > .btn-wrapper > a:nth-child(2) {
    color: white;
    background-color: black;
}

.page-wrapper > .left-column > .btn-wrapper > a:nth-child(2):hover {
    border: 3px double #b1b1b1;
}

/* Right column styles */
.page-wrapper > .right-column h3 {
    color: white;
    font-size: 1.4rem;
    margin: 0;
    padding: 30px 15px 8px;
}

.page-wrapper > .right-column span {
    color: #5dd5fc;
}

.page-wrapper > .right-column > .img-wrapper img {
    width: 100%;
}